<h4>This is the create a white card form!</h4>

<p>Make a new white card:</p>
<form action="/white_cards" method="POST">
Card Text:<br>
<input type="text" name="card_text"><br>
<br>
<input type="submit" value="Submit"><br><br>
</form>
