
Welcome to Cards Against Humanity


<a href="/start_game"><button id='start_game' type="button">Start Game</button></a>

<a href="/white_cards"><button id='white_cards' type="button">Add More White Cards</button></a>