<h4>You can create your own white cards!</h4>
<p>When you make a white card it will be added to your deck and included in any games you play. Only you can see your white cards.</p>
<p>Make a new white card:</p>
<form action="/white_cards" method="POST">
  Card Text:<br>
  <input type="text" size="50" name="card_text"><br>
  <br>
  <input type="submit" value="Submit"><br><br>
</form>

