This round goes to: <%= @black_card.text %>

with the winner: <%= @winning_card.text %>

congratulations <%= @turn_winner.name %>

you won a black card!

yay that was funsies

want to keep going

<a href="/start_turn">
  <button>Keep Going</button></a>