"Now the game is starting"

  "Creating players"

  "you are playing with 3 virtual players "

  <% @players.each do |player| %>
    <%= player.name %>
  <% end %>

 "drawing 7 cards for each player"

<a href="/start_turn">
 <button> Play</button></a>
