a turn is happening now!!!

<ul>
<% @hand.each do |card| %>
<li> <a href="/play_white_card/<%=card.id%>"><%= card.text %></a></li>
<% end %>
</ul>

now here is a black card :

<p> <%= @black_card.text %></p>


<p> This is the shiiiiiiittttt!!!!</p>
<p>pick a card to play it</p>

<p>while were at it let's show the players current points</p>
<% @players.each do |player|%>
<p><%= "#{player.name} has #{player.points} black cards so far!" %></p>
<% end %>