<div id="welcome">
  <h1>Welcome to Cards Against <span>Humanity</span> Squirrels</h1>
  <p>a single player online version of my favorite game for horrible people</p>
  <div class="buttons">
    <a href="/start_game"><button id='start_game' type="button">Start Game</button></a>

    <a href="/white_cards"><button id='white_cards' type="button">Add More White Cards</button></a>
  </p>
</div>


