<div class="game">
  <h4><% if @message %>
    <%= "Error on username: #{@message[:username][0]}" if @message[:username] %>
    <%= "Error on email: #{@message [:email][0]}" if @message [:email] %>
    <%= @message [:mismatch] if @message[:mismatch] %>
    <% end %>
  </h4>
  <h3>Please enter a matching user name and password to sign in</h3>
  <p>You can't really do anything until you are signed in...so click register if you don't already have a username and password.</p>
</div>
