<div class="game">
    <h4>You can't really do anything until you register:</h4>
    <form id="register" action="/users" method="POST">
        Username:<br>
        <input type="text" name="username">
        <br>
        <br>
        Email Address:<br>
        <input type="text" name="email">
        <br>
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="new user">
      </form>
</div>
